[report]
ignore_errors = True
omit =
    tests/*
    gama/visualization/*.py
    gama/dashboard/*.py
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise NotImplementedError